
{% extends "comman.html" %}

{% load static %}


{% block body %}
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  <!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->
  <div id="background-wrapper" class="benches" data-stellar-background-ratio="0.8">

    <!-- ======== @Region: #content ======== -->
    <div id="content">
      <div class="header">
        <div class="header-inner">
          <!--navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
          <a class="navbar-brand center-block" href="{% url "home" %}" title="Home">
            <h1 class="hidden">
                <img src="{% static "img/logo.png" %}" alt=" Logo">
                bro
              </h1>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                  Sign Up
                </h3>
            </div>
            <div class="panel-body">
              <form accept-charset="UTF-8" role="form" method="post" >
                <!-- <fieldset> -->
                  <!-- <div class="form-group">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
                      <input type="text" class="form-control" placeholder="Username">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
                      <input type="text" class="form-control" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
                      <input type="password" class="form-control" placeholder="Password">
                    </div>
                        </div> -->
                                {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
                  <div class="checkbox">
                    <label>
                        <input name="remember" type="checkbox" value="Terms" name="vehicle">
                        I agree to the <a href="#">terms and conditions</a>.
                      </label>
                  </div>

                  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Me Up">
                <!-- </fieldset> -->
              </form>
              <p class="m-b-0 m-t">Already signed up? <a href="{% url "accounts:login" %}">Login here</a>.</p>
              <div class="credits">

          </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
  </div>

{% endblock %}
